@import url("style.css");

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}
.search-bar form,
.search-bar input {
  flex: 1;
  margin-bottom: 10px;
}

.category-tabs,
.filter-chips {
  display: flex;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  justify-content: center;
}
.category-tabs button {
  background: var(--color-border);
  border: 1px solid var(--color-border);
  color: var(--color-primary-pink);
  padding: 0.75rem;
  height: 3rem;
  min-width: 100px;
  border-radius: var(--radius-full);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.category-tabs .active {
  background: var(--color-primary-pink);
  color: var(--color-bg);
}
.category-tabs button,
.filter-chips button {
  flex-shrink: auto;
}

.filter-chips button:hover {
  border: 1px solid var(--color-primary-pink);
}

#ideas {
  width: 100%;
  margin-top: var(--spacing-md);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  padding: var(--spacing-xs);
  gap: var(--spacing-xs);
}

.idea-card {
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin: var(--spacing-xs);
}

.idea-card h3 {
  font-size: var(--fs-body-reg);
  font-weight: var(--fw-bold);
}

.idea-card p {
  font-size: var(--fs-body-sm);
}
.idea-img {
  display: grid;
  align-items: end;
}
#ideas img {
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  height: 100%;
  width: 100%;
  grid-area: 1/1;
}
.time {
  width: 5rem;
  height: 2rem;
  background: var(--color-bg);
  opacity: 0.6;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-default);
  grid-area: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.idea-card .btn-secondary {
  margin: 0.5rem;
  border: 1px solid var(--color-primary-pink);
  background: var(--color-bg);
  min-width: 80px;
}

.idea-card .btn-secondary:hover {
  background: var(--color-primary-pink);
  color: var(--color-bg);
}

.idea-txt {
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex: 1;
}

@media screen and (max-width: 640px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-xs);
  }
  .filter-chips button {
    min-width: 80px;
  }
}
