@import url("style.css");

body{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    background: var(--color-bg);
}
form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin: var(--spacing-xs);
    background: white;
}
input{
    width: 100%;
}

h1{
    font-weight: var(--fw-black);
}

p{
    font-size: var(--fs-body-reg);
    color: var(--color-text-secondary);
    margin-top: 10px;
}

.debug{
    background-color: pink;
}
.body-image{
    height: 35rem;
    width: 50%;
    background-image: url(./../images/signup.png);
    background-size: cover;
    background-position: center;
}

.form-container{
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group{
    width: 100%;
}

.icon-group{
    margin-top: var(--spacing-xs);
}

.icon-group img{
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 768px){
    h1{
        margin-top: 50%;
    }
    .form-container{
        width: 100%;
        justify-content: end;
        align-items: center;
    }
    .body-image{
        display: none;
    }
    
}