@import url("style.css");

body {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  margin: 0;
}

form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin: var(--spacing-xs);
  background: white;
}

input {
  width: 100%;
}

h1 {
  font-weight: var(--fw-black);
}

p {
  font-size: var(--fs-body-reg);
  color: var(--color-text-secondary);
  margin-top: 10px;
}

.debug {
  background-color: pink;
}

.body-image {
  width: 50%;
  background: url("./../images/signup.png") no-repeat center center / cover;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-group {
  width: 100%;
}

.icon-group {
  margin-top: var(--spacing-xs);
}

.icon-group img {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    min-height: 100vh;
    padding: var(--spacing-md);
  }

  .body-image {
    display: none;
  }

}